#mandatory umti signals to get a clock
NET "utmi_clkout"  LOC = "D9"  ;
NET "utmi_databus16_8"  LOC = "B14"  ;

#utmi signals only used with USB function
NET "utmi_opmode1"  LOC = "C6"  ;
NET "utmi_reset"  LOC = "B4"  ;
NET "utmi_termselect"  LOC = "B6"  ;
NET "utmi_txvalid"  LOC = "B12"  ;
NET "utmi_xcvrselect"  LOC = "D6"  ;

#led on micromodule
NET "mm_led"  LOC = "N6"  ;


#b2b pins
NET "i<0>"		LOC = "D12";
NET "i<1>"		LOC = "D11";
NET "i<2>"		LOC = "E11"	;
NET "i<3>"		LOC = "D10"	;
NET "i<4>"		LOC = "E10"	;
NET "i<5>"		LOC = "D5"	;
NET "i<6>"		LOC = "E6"	;
NET "i<7>"		LOC = "E7"	;
NET "i<8>"		LOC = "D7"	;
NET "i<9>"		LOC = "D8"	;
NET "i<10>"	LOC = "G2"	;
NET "i<11>"	LOC = "C1"	;
NET "i<12>"	LOC = "B1"	;
NET "i<13>"	LOC = "C2"	;
NET "i<14>"	LOC = "C3"	;
NET "i<15>"	LOC = "D1"	;
NET "i<16>"	LOC = "D2"	;
NET "i<17>"	LOC = "E3"	;
NET "i<18>"	LOC = "D3"	;
NET "i<19>"	LOC = "E1"	;
NET "i<20>"	LOC = "E2"	;
NET "i<21>"	LOC = "F4"	;
NET "i<22>"	LOC = "E4"	;
NET "i<23>"	LOC = "F2"	;
NET "i<24>"	LOC = "F3"	;
NET "i<25>"	LOC = "G5"	;
NET "i<26>"	LOC = "F5"	;
NET "i<27>"	LOC = "G3"	;
NET "i<28>"	LOC = "G4"	;
NET "i<29>"	LOC = "H3"	;
NET "i<30>"	LOC = "H4"	;
NET "i<31>"	LOC = "H1"	;
NET "i<32>"	LOC = "G1"	;
NET "i<33>"	LOC = "K1"	;
NET "i<34>"	LOC = "R1"	;
NET "i<35>"	LOC = "P1"	;
NET "i<36>"	LOC = "P2"	;
NET "i<37>"	LOC = "N3"	;
NET "i<38>"	LOC = "N2"	;
NET "i<39>"	LOC = "N1"	;
NET "i<40>"	LOC = "M4"	;
NET "i<41>"	LOC = "M3"	;
NET "i<42>"	LOC = "M2"	;
NET "i<43>"	LOC = "M1"	;
NET "i<44>"	LOC = "L5"	;
NET "i<45>"	LOC = "L4"	;
NET "i<46>"	LOC = "L3"	;
NET "i<47>"	LOC = "L2"	;
NET "i<48>"	LOC = "K5"	;
NET "i<49>"	LOC = "K4"	;
NET "i<50>"	LOC = "K3"	;
NET "i<51>"	LOC = "K2"	;
NET "i<52>"	LOC = "J4"	;
NET "i<53>"	LOC = "J3"	;
NET "i<54>"	LOC = "J2"	;
NET "i<55>"	LOC = "J1"	;
NET "i<56>"	LOC = "R11"	;
NET "i<57>"	LOC = "R9"	;
NET "i<58>"	LOC = "T9"	;

NET "o<0>"		LOC = "G16";
NET "o<1>"		LOC = "B16";
NET "o<2>"		LOC = "C16";
NET "o<3>"		LOC = "C15";
NET "o<4>"		LOC = "D14";
NET "o<5>"		LOC = "D15"	;
NET "o<6>"		LOC = "D16"	;
NET "o<7>"		LOC = "E13"	;
NET "o<8>"		LOC = "E14"	;
NET "o<9>"		LOC = "E15"	;
NET "o<10>"	LOC = "E16"	;
NET "o<11>"	LOC = "F12"	;
NET "o<12>"	LOC = "F13"	;
NET "o<13>"	LOC = "F14"	;
NET "o<14>"	LOC = "F15"	;
NET "o<15>"	LOC = "G12"	;
NET "o<16>"	LOC = "G13"	;
NET "o<17>"	LOC = "G14"	;
NET "o<18>"	LOC = "G15"	;
NET "o<19>"	LOC = "H13"	;
NET "o<20>"	LOC = "H14"	;
NET "o<21>"	LOC = "H15"	;
NET "o<22>"	LOC = "H16"	;
NET "o<23>"	LOC = "K15"	;
NET "o<24>"	LOC = "P16"	;
NET "o<25>"	LOC = "R16"	;
NET "o<26>"	LOC = "P15"	;
NET "o<27>"	LOC = "P14"	;
NET "o<28>"	LOC = "N16"	;
NET "o<29>"	LOC = "N15"	;
NET "o<30>"	LOC = "M14"	;
NET "o<31>"	LOC = "N14"	;
NET "o<32>"	LOC = "M16"	;
NET "o<33>"	LOC = "M15"	;
NET "o<34>"	LOC = "L13"	;
NET "o<35>"	LOC = "M13"	;
NET "o<36>"	LOC = "L15"	;
NET "o<37>"	LOC = "L14"	;
NET "o<38>"	LOC = "K12"	;
NET "o<39>"	LOC = "L12"	;
NET "o<40>"	LOC = "K14"	;
NET "o<41>"	LOC = "K13"	;
NET "o<42>"	LOC = "J14"	;
NET "o<43>"	LOC = "J13"	;
NET "o<44>"	LOC = "J16"	;
NET "o<45>"	LOC = "K16"	;
NET "o<46>"	LOC = "P7"	;
NET "o<47>"	LOC = "T8"	;
NET "o<48>"	LOC = "R5"	;
NET "o<49>"	LOC = "P5"	;
NET "o<50>"	LOC = "R6"	;
NET "o<51>"	LOC = "P6"	;
NET "o<52>"	LOC = "P8"	;
NET "o<53>"	LOC = "N8"	;
NET "o<54>"	LOC = "T12"	;
NET "o<55>"	LOC = "T14"	;
NET "o<56>"	LOC = "R13"	;
NET "o<57>"	LOC = "T13"	;
NET "o<58>"	LOC = "R12"	;
